{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>绘画框</title>
    <link rel="stylesheet" href="{% static 'cnn/style.css' %}">
</head>
<body>
<div class="canvas-container">
    <canvas id="paintCanvas" width="28" height="28" style="width: 280px; height: 280px;"></canvas>
</div>
<div class="button-container">
    <button id="undoButton">撤销</button>
    <button id="clearButton">清空</button>
    <button id="saveButton">保存</button>
</div>
<div class="result-container">
    <div class="result" id="result">预测结果: -</div>
</div>
<script src="{% static 'cnn/script.js' %}"></script>
</body>
</html>
